body {
    background-color: rgba(128, 128, 128, 0.692);
}

header {
    position: relative;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.575);
    line-height: 50px;
}

section {
    width: 800px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header section label {
    color: #fff;
    font-size: 26px;
}

#title {
    position: absolute;
    right: 0;
    top: 10px;
    width: 400px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 3px black inset;
    vertical-align: text-bottom;
    caret-color: #6c6d6e;
}

::-webkit-input-placeholder {
    color: #6c6d6e;
    font-size: 12px;
}

section h2 {
    font-size: 26px;
    font-weight: 700;
    color: black;
    margin: 10px 0;
}

#todocount,
#donecount {
    float: right;
    display: inline-block;
    width: 16px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center
}

ol li,
ul li {
    width: 100%;
    padding: 5px 10px 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    border-left: 5px solid skyblue;
    background-color: #fff;
    overflow: hidden;
}

li input,
li p,
li a {
    float: left;
}

li input {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

li p {
    font-size: 14px;
    color: black;
}

li a {
    float: right;
    display: block;
    border-top: 10px solid skyblue;
    border-bottom: 10px solid skyblue;
    border-right: 10px solid pink;
    border-left: 10px solid pink;
    border-radius: 5px;
}