@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?a9zl06');
    src: url('fonts/icomoon.eot?a9zl06#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?a9zl06') format('truetype'), url('fonts/icomoon.woff?a9zl06') format('woff'), url('fonts/icomoon.svg?a9zl06#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

body {
    background-color: rgba(128, 128, 128, 0.692);
}

header {
    position: relative;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.575);
    line-height: 50px;
}

section {
    width: 800px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

header section label {
    color: #fff;
    font-size: 26px;
}

#title {
    position: absolute;
    right: 0;
    top: 10px;
    width: 400px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 3px black inset;
    vertical-align: text-bottom;
    caret-color: #6c6d6e;
}

::-webkit-input-placeholder {
    color: #6c6d6e;
    font-size: 12px;
}

section h2 {
    position: relative;
    font-size: 26px;
    font-weight: 700;
    color: black;
    margin: 10px 0;
}

#todocount,
#donecount {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 16px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center
}

.clearall {
    position: absolute;
    top: 10px;
    right: 50px;
    width: 70px;
    height: 30px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    line-height: 30px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}

section ol li,
section ul li {
    width: 100%;
    padding: 5px 10px 5px 10px;
    margin: 5px 0;
    border-radius: 5px;
    border-left: 5px solid black;
    background-color: #fff;
    overflow: hidden;
}

li input,
li p,
li a {
    float: left;
}

li input[type=checkbox] {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

li p {
    font-size: 14px;
    color: black;
}

li a {
    float: right;
    font-family: 'icomoon';
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
}

li i {
    float: right;
    width: 16px;
    height: 16px;
    border: 2px solid skyblue;
    border-radius: 10px;
    /* background-color: skyblue; */
}

aside {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 350px;
    height: 100%;
    padding-top: 20px;
    background-color: #fff;
}

aside li {
    margin: 5px 0;
    padding: 0 10px;
    overflow: hidden;
}

aside li input[type=checkbox] {
    width: 23px;
    height: 23px;
}

aside li textarea {
    width: 228px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    outline: none;
    resize: none;
}

aside li i {
    width: 20px;
    height: 20px;
}

aside li a {
    font-size: 24px;
}